*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
.pageContainer {
  height: 90%;
  width: 80%;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-size: 40px;
  margin: 20px 0;
}
p {
  margin: 20px 0;
}
.submiteButton {
  padding: 13px 50px;
  background-color: rgb(58, 100, 126);
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 40px;
  margin: 20px 0;
  outline: none;
}

.submiteButton:hover {
  background-color: white;
  color: rgb(58, 100, 126);
  cursor: pointer;
  border: 1px solid rgb(58, 100, 126);
  font-weight: bold;
}

.sectionsContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 1;
}
.sectionsContainers_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 100%;
}
.icons {
  display: flex;
}
.icon {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(168, 165, 165);
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon:hover {
  color: white;
  background-color: rgb(58, 100, 126);
  border: none;
}
.sectionsContainers_redpages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 3;
}
a {
  margin: 10px;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  transition: all 0.2s;
  text-transform: uppercase;
  transform-origin: left bottom;
  font-size: 12px;
  transform: translate(0, 2.125rem) scale(1.5);
  cursor: text;
  color: rgb(130, 146, 156);
}
input:focus + label,
input:valid + label {
  transform: translate(0, 0) scale(1);
  cursor: text;
  color: rgb(58, 100, 126);
}
.inputTextStyle {
  border: none;
  padding: 10px 5px;
  background-color: rgb(202, 202, 202);
  font-size: 15px;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0);
  outline: none;
}
.inputContainer {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  width: 50%;
  margin-top: 20px;
  position: relative;
  border-bottom: 1px solid rgb(193, 201, 206);
}
.border::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background: rgb(58, 100, 126);
  transition: 0.2s;
  transform-origin: left;
}
input:focus ~ .border::after,
input:valid ~ .border::after {
  transform: scaleX(1);
}
.signInPageAndsignUpPage {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}

.signInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
  color: white;
}

.signUpApplecation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

/* Movements */
.signin {
  left: 10%;
  visibility: hidden;
  transition: left 0.25s, visibility 0s 0.25s;
}
.signup {
  left: 50%;
  visibility: visible;
  transition: left 0.4s;
}
.signinPg {
  left: 0;
  visibility: visible;
  transition: left 0.5s, visibility 0s 0.2s;
}
.signupPg {
  left: 60%;
  visibility: hidden;
  transition: left 0.25s, visibility 0s 0.075s;
}
.theredbackground {
  height: 100%;
  width: 50%;
  background: rgb(58, 100, 126);

  z-index: 2;
  left: 0;
  transition: 0.5s;
}

/* Moved Position */
.signinAppMoves {
  left: 0;
  visibility: visible;
  transition: left 0.4s;
}
.signupAppMoves {
  left: 40%;
  visibility: hidden;
  transition: left 0.25s, visibility 0s 0.25s;
}
.signinPgMoves {
  left: -10%;
  visibility: hidden;
  transition: left 0.25s, visibility 0s 0.075s;
}
.signupPgMoves {
  left: 50%;
  visibility: visible;
  transition: left 0.5s, visibility 0s 0.2s;
}
.theredbackgroundMoves {
  left: 50%;
  transition: 0.5s;
}
